/*
<!--
Frontend Mentor
Profile Card Component
C Lewis
clewisdev.com
April 2022
*/

/****** VARIABLES ******/

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --background: hsl(185, 75%, 39%);
}

/******* GLOBAL STYLING ******/

body {
    background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, .age {
    font-size: 1.1em;
    margin-bottom: .5rem;
}

.location {
    font-size: .9em;
    text-align: center;
    margin-top: 0;
}

.follownumber, .likesnumber, .photosnumber {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: .5rem;
}

.followtext, .likestext, .photostext {
    font-size: .75em;
    text-align: center;
    margin-top: 0;
}

.age, .location, .followtext, .likestext, .photostext {
    color: var(--dark-gray);
}

hr {
    color: rgba(211, 211, 211, 0.226);
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

/****** FLEXBOX ******/

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1rem;
}

.followers, .likes, .photos {
    display: flex;
    flex-direction: column;
}


/****** CARD STYLING ******/

.wrapper {
    width: 1080px;
    padding: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: .1rem 1rem 5rem 1rem rgba(78, 77, 77, 0.5);
}


/****** IMG STYLING ******/

.profilephoto {
    border: .5rem solid white;
    border-radius: 50%;
    margin-top: -3rem;
}

.cardpattern {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}



/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography

### Body Copy

- Font size (name and stats): 18px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
*/